*
{
  margin: 0;
  padding: 0;  
}
.body
{
  background-color:white;
  
}
.item
{
  width: 300px;
  margin: 20px;
  text-align: center;
}




.new-bar
{
  margin: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:center;
  
}
.new-bar a
{
  text-decoration:overline;
  font-size:x-large;
  margin-left: 50px;
  margin-right: 50px;
  color: sienna; 
}
.titles
{
  color:black;
  font-family: 'Questrial', sans-serif;

}
.subtitles
{
  text-align: center;
  color: sienna;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.name
{
  text-align: center;
   font-size: 400%;
   font-family: 'Questrial', sans-serif;
   
}
.tag
{
   text-align: center;
   font-style: italic;
   color: rgb(82, 82, 82);
}





#proyects
{
  
  margin-bottom: 100px;
  color: black;
}

#about
{
  background-color: #f1f1f1;
  padding-bottom: 100px;
  
}

#contact
{
  background-color:#2c2c35;
  color: white;
}

.trademark
{
  position: absolute;
  right: 50px;
}
.link
{
  font-style: italic;
  font-size: large;
  color: lightseagreen;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
  
}
.link:hover
{
  color: sienna;
}


/* images */
.cont-img
{

  position: relative;
  color: white;
}

.top-right
{
  border-radius: 2px;
  font-size: 120%;
  position: absolute;
  top : 0px;
  right: 3px;
  background-color: gray;
  font-weight: bold;
  padding: 10px;
}
.repo
{
  position: relative;
  bottom: 0px;
  left: 311px;
  
}

.description
{
  
  font-family: 'Noto Serif Georgian', serif;
  text-align: justify;

}

.photo
{

  margin: 50px;
  margin-left: 100px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.image
{
  width: 500px;
}

.footer
{
  display: flex;
  flex-direction:row;
  
}

/*Smartphone */
@media (max-width: 520px)
{


.image
{
  width: 300px;
  
}
.top-right
{
  
  right: 0px;
 
}

.repo
{
  
  left: 100px;
  
}
.new-bar
{
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;

  
}
.proyects
{
  margin-top: 50px;
  margin-bottom: 10px;
}
.about
{
  margin-top: 60px;
  margin-bottom: 20px;
}
.tag
{
  margin-top: 80px;
  padding: 0;
}
.footer
{
  margin: 10px;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  
}
.photo
{
  margin: 20px;
  
}

}

 /* Tablet*/
@media (min-width: 521px) and (max-width: 1023px) 
{
    .top-right
  {
    
    right: 78px;
  
  }
  .repo
  {
    
    left: 300px;
    
  }
  .icons
  {
    
    margin-left: 80px;
  }
 
    .footer
    {
      margin: 10px;
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
    }
    
    .tag
    {
      margin-top: 80px;
     
    }
    .description
    {
      margin-left: 40px;
      
    }
    .photo
    {

      margin-left: 80px;
      margin-top: 100px;
      
      width: 250px;
      height: 250px;
      
    }
    .info
    {
      margin-left: 50px;
    }
    

   
    
  }






